.userlist {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 50px;
}

.logout {
  width: 28%;

  text-align: center;
  margin-left: 108px;
  margin-top: 10px;
  background-color: black;
  border: 2px solid black;
}

@media only screen and (width: 1366px) {
  .logout {
    width: 100px;
    margin-left: 630px;
  }
}
