.userlist {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 50px;
}

.logout {
  width: 30%;
  margin-left: 120px;
  margin-top: 10px;
  background-color:black;
  border: 2px solid black;
}
