.user {
  /* background-color: black;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  width: 40%;
  height: 250px;
  margin-left: 300px;
  text-align: center;
  overflow: scroll;
  border: 2px solid white; */
}
.userlist{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.img {
  width: 25%;
}
img {
}
