.form {
  background-color: white;
  width: 150%;
  height: 350px;
  padding-left: 32px;
  margin-top: 50px;
}
.username {
  background-color: aquamarine;
  display: inline-block;
  color: white;
  padding: 14px 20px;
  font-size: 20px;
  padding-top: 100 0 px;
  margin: 8px 0;
  border: 2px solid black;
  width: 25%;
  height: 280px;
  text-align: center;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 50px;
  width: 50%;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.mail {
  background-color: crimson;
  height: 150px;

  text-align: center;
}

.incorrect {
  color: red;
  margin-top: 1px;
}
